<div class="container">
  <h1>Book Catalogue
    <a [routerLink]="['/book-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td><a [routerLink]="['/book-details', book._id]" class="btn btn-success">Detail</a></td>
    </tr>
    </tbody>
  </table>
</div>
